body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-top: 225px;
    margin-left: 100px;
    display: inline-block;

}
h2{
    font-size: 40px;
}

h4{
    font-size: 20px;
}

.orange-color {
    color: rgba(255, 68, 0, 0.699)
}

.fade-color {
    color: rgba(0, 0, 0, 0.735);
}
.off-white{
    color: rgba(255, 255, 255, 0.459)
}


.top-banner {
    background-image: url(image/model.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 54%;
    margin-right: 50px;
    height: 750px;

}
.top-banner p{
    margin-bottom: 50px;
    margin-left: 100px;
    margin-top: -10px;
}
.button-style {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 20px 50px;
    background-image: linear-gradient(to right, rgb(228, 154, 34), tomato);
    border-radius: 50px;
    /* margin-top: 50px */
}

.about-me {
    background-image: url(image/aboutme-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 50px ;
    width: 100%;
}

.aboutme-model-pic {
    margin-top: 64px;
    margin-left: 30px;
    width: 100%;
}

.aboutme-model-pic img{
    height: 500px;
    width: 650px;
}

.flexible {
    width: 50%;
}
.aboutme-info {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.aboutme-info p{
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 1.6;
    text-align: left;
}

.recipies h2{
    text-align: center;
}
.recipies p{
    margin-left: 325px;
    margin-right: 325px;
    text-align: center;

}
.names-of-recipe {
    display: flex;
    width: 100%;
    margin-top: 30px ;
    margin-bottom: 80px;
}
.food{
    box-shadow: 1px 2px 15px 5px rgba(128, 128, 128, 0.251);
    padding: 20px;
    border-radius: 30px;
}
.food img{
    width:100%
}
.food p{
    text-align: left;
    margin: 0 10px 20px 0;
    line-height: 1.5;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 0 6%;
    box-shadow: 1px 2px 15px 5px rgba(128, 128, 128, 0.251);
    border-radius: 30px;
    margin-bottom: 60px;
}
.stats h2 {
    margin-bottom: 0;
}

footer {
    background-color: black;
    text-align: center;
    height: 150px;
}
.foot {
    padding: 1%;
}